amqp==2.4.1
billiard==3.5.0.5
celery==4.2.1
Django==2.1.7
django-ckeditor==5.7.1
django-cors-headers==2.4.1
django-crispy-forms==1.7.2
django-filter==2.1.0
django-js-asset==1.2.2
django-templated-mail==1.1.1
djangorestframework==3.9.1
djoser==1.4.0
kombu==4.3.0
Markdown==3.0.1
pkg-resources==0.0.0
pytz==2018.9
vine==1.2.0
