{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <div class="thumbnail1">
                <div class="updateform">
                    <form method="POST" class="loginicerik" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <h4 class="loginheader">Change Password Page</h4>
                        {{ form.media }}
                        <input class="btn btn-login" type="submit" value="Change Password">
                    </form>
            </div>
        </div>
    </div>
{% endblock %}