{% extends 'base.html' %}

{% block body %}
<div class="container">
        <div class="thumbnail1">
            {% if form.errors %}
            <p class="bg-danger p-2">Incorrect password</p>
            {% endif %}
            {% if next %}
                {% if user.is_authenticated %}
                <p class="bg-warning p-1">Your account doesn't have access.</p>
                {% else %}
                <p class="bg-secondary">Please login to see this page.</p>
                {% endif %}
            {% endif %}
            <div class="updateform">
                <form method="post" action="{% url 'edms:password_change' %}">
                {% csrf_token %}
                {{ form.as_p}}
                <input class="btn btn-update" type="submit" value="Change Password" />
                <input type="hidden" name="next" value="{{ next }}" />
                </form>
            </div>
        </div>
    </div>
{% endblock %}