{% extends 'edms/base.html' %}

{% block body %}
<div class="lessons-container container-fluid">
    <div class="row">
        {% if user.is_authenticated %}
        {% csrf_token %}
            {% if lessons %}
                {% for lesson in lessons %}
                    <div class="lessoncaption">
                        <div class="lessonbody">
                            <a class="lessontitle" href="{% url 'edms:lesson-detail' pk=lesson.pk %}">
                                <h2>{{ lesson.lesson_name }}</h2>
                            </a><br>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endif %}
    </div>
</div>

{% endblock %}